/* styles.css */

/* Style de la zone de contenu principale */
.container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

/* Style des titres */
h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    margin-bottom: 30px;
}

/* Style des zones de texte */
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style des liens */
a {
    display: block;
    margin-bottom: 10px;
    color: blue;
    text-decoration: none;
}

a:hover {
    color: #0066cc;
}
